<div class="container">
  <div class="user-details">
    <h3> Quem somos </h3>
    <p> {{site.user_description}} </p>
  </div>
  <div class="row user">
    <div class="four columns">
      <h4>Ética</h4>
    <!--  <img alt="" src="{{ "/assets/img/8-64-grayscale.png" | prepend: site.baseurl }}" />
      <img alt="" src="{{ "/assets/img/97-64-grayscale.png" | prepend: site.baseurl }}" />
      <img alt="" src="{{ "/assets/img/activities-18-64-grayscale.png" | prepend: site.baseurl }}" />
      <img alt="" src="{{ "/assets/img/racial.diversity-64-grayscale.png" | prepend: site.baseurl }}" /> -->
     <!-- <i class="devicon-html5-plain-wordmark"></i> -->
     <!-- <i class="devicon-bootstrap-plain-wordmark colored"></i> -->
     <!-- <i class="devicon-sass-original colored"></i> -->
      <p>Somos profissionais comprometidos com a sustentabilidade socioecológica, com a biodiversidade e com a qualidade de vida humana. Oferecemos soluções pautadas na observação estrita à legislação ambiental e trabalhista em vigor, bem como à afabilidade nas relações interpessoais. Abominamos práticas corruptivas, desonestas ou injustas. Nossa atuação técnica é pautada na pesquisa e aplicação de conhecimento e ferramentas de vanguarda, em conjunto com metodologias consolidadas.</p>
    </div>
    <div class="four columns">
      <h4>Comunicação direta</h4>
    <!--  <img alt="" src="{{ "/assets/img/experiment-64-grayscale.png" | prepend: site.baseurl }}" /> -->
      <!-- <i class="devicon-git-plain"></i>
      <i class="devicon-gulp-plain colored"></i>
      <i class="devicon-atom-original-wordmark"></i> -->
      <p>Nossa estrutura funcional é enxuta e você negocia diretamente com quem executa os serviços, sem intermediários, e com base em um diálogo franco e objetivo. O melhor caminho para o primeiro contato é através de e-mail. Nossas atividades acontecem normalmente em locais afastados, por vezes sem sinal telefônico. Mas as chamadas telefônicas serão sempre benvindas!=). Caso precisem confirmar nossa existência, podemos marcar uma reunião à distância por skype.</p>
    </div>
    <div class="four columns">
      <h4>A melhor relação custo-benefício</h4>
     <!-- <img alt="" src="{{ "/assets/img/experiment-64-grayscale.png" | prepend: site.baseurl }}" /> -->
      <!-- <i class="devicon-git-plain"></i>
      <i class="devicon-gulp-plain colored"></i>
      <i class="devicon-atom-original-wordmark"></i> -->
      <p>Atendemos a pessoas, organizações, governos e empresas que estejam interessados em valorizar e lucrar com a biodiversidade e sustentabilidade. Nossa ênfase é compreender os problemas e as necessidades específicas do cliente para desenhar a melhor solução técnica possível: enxuta, objetiva e justa. Nossa visão traduz-se na nossa frase no latim que significa “trabalho diligente nas florestas e mares”.</p>
    </div>
  </div>
</div>
