<div class="container">
  <div class="user-details">
    <h3> Quem somos </h3>
    <p> {{site.user_description}} </p>
  </div>
  <div class="row user">
    <div class="four columns">
      <h4>Ética</h4>
      <img alt="" src="{{ "/assets/img/law_tiny.svg" | prepend: site.baseurl }}" />
      <!-- <img alt="" src="{{ "/assets/img/97-64-grayscale.png" | prepend: site.baseurl }}" /> -->
      <!-- <img alt="" src="{{ "/assets/img/activities-18-64-grayscale.png" | prepend: site.baseurl }}" /> -->
      <!-- <img alt="" src="{{ "/assets/img/racial.diversity-64-grayscale.png" | prepend: site.baseurl }}" /> -->
      <!-- <i class="devicon-html5-plain-wordmark"></i>
      <i class="devicon-bootstrap-plain-wordmark colored"></i>
      <i class="devicon-sass-original colored"></i> -->
      <p>Compromisso com a sustentabilidade e qualidade de vida, pautado na pesquisa e aplicação de conhecimento em conjunto com metodologias consolidadas, para compatibilizar o seu projeto à conservação da natureza.</p>
    </div>
    <div class="four columns">
      <h4>Comunicação direta</h4>
      <img alt="" src="{{ "/assets/img/meeting_tiny.svg" | prepend: site.baseurl }}" />
      <!-- <i class="devicon-git-plain"></i>
      <i class="devicon-gulp-plain colored"></i>
      <i class="devicon-atom-original-wordmark"></i> -->
      <p> Você negocia diretamente com quem planeja o seu projeto ambiental, com base em um diálogo franco e objetivo.</p>
    </div>
    <div class="four columns">
      <h4>Custo-benefício</h4>
      <img alt="" src="{{ "/assets/img/diagram_tiny.svg" | prepend: site.baseurl }}" />
      <!-- <i class="devicon-git-plain"></i>
      <i class="devicon-gulp-plain colored"></i>
      <i class="devicon-atom-original-wordmark"></i> -->
      <p>Com ênfase nas necessidades específicas do cliente desenhamos a melhor solução possível: enxuta e objetiva, visando gerar valor através da conservação da biodiversidade.</p>
    </div>
  </div>
</div>
