<div class="container">
  <div class="user-details">
    <h3> Contato </h3>
  </div>
  <div class="row user-projects">
    <div class="six columns images">
      
    </div>
    <div class="six columns">
      <h5> O melhor caminho ... </h5>
      <p>é através de e-mail. Estamos sediados em Taiaçupeba, área rural de Mogi das Cruzes, e nossas atividades normalmente acontecem em locais afastados, muitas vezes sem sinal telefônico. Talvez não consigamos responder em imediato, mas sempre retornaremos tão logo que possível. As chamadas telefônicas serão sempre benvindas! Mas mesmo em nossa sede o sinal é fraco. </p>
      </div>
  </div>
  <div class="row user-projects">
    <div class="six columns">
      </div>
    <div class="six columns">
      <h5> Checando nossa existência </h5>
      <p>Caso precisem confirmar nossa existência, podemos marcar uma reunião à distância por skype ou então agendar uma reunião presencial, onde falaremos de detalhes dos serviços. </p>
      </div>
  </div>
</div>
