<footer class="footer">
                <p> <tbody><tr>
                <td align="center"><a href="#"><font color="#ffffff"><b>HOME</b></font></a></td>
                &nbsp;
                <span style='font-size:18px;'>&bull;</span>
                &nbsp;  
                <td align="center"><a href="#about"><font color="#ffffff"><b>QUEM SOMOS</b></font></a></td>
                &nbsp;
                <span style='font-size:18px;'>&bull;</span>
                &nbsp;  
                <td align="center"><a href="#projects"><font color="#ffffff"><b>O QUE FAZEMOS</b></font></a></td>
                &nbsp;
                <span style='font-size:18px;'>&bull;</span>
                &nbsp;  
                <td align="center"><a href="mailto:{{site.email}}"><font color="#ffffff"><b>CONTATO</b></font></a></td>
                &nbsp; 
                <!--<td align="center"><a href="https://www.facebook.com/eQuanta.env{{site.facebook_username}}"><font color="#ffffff">FACEBOOK</font></a></td> -->
                </tr> </p>
  
  <!--VOU COMENTAR O BOTÃO DO CRISP PARA VALIDAR O BOTÃO DO WHATSAPP-->
  <!--
  <script type="text/javascript">window.$crisp=[];window.CRISP_WEBSITE_ID="610cd497-9174-4894-a153-6a62efc1ec96";(function(){d=document;s=d.createElement("script");s.src="https://client.crisp.chat/l.js";s.async=1;d.getElementsByTagName("head")[0].appendChild(s);})();</script>
    -->
  
 
  <!-- GetButton.io widget -->
 <!--
  <script type="text/javascript">
    (function () {
        var options = {
            whatsapp: "+55(11)985380253", // WhatsApp number
            call_to_action: "", // Call to action
            position: "right", // Position may be 'right' or 'left'
        };
        var proto = document.location.protocol, host = "getbutton.io", url = proto + "//static." + host;
        var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = url + '/widget-send-button/js/init.js';
        s.onload = function () { WhWidgetSendButton.init(host, proto, options); };
        var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(s, x);
    })();
</script> -->
<!-- /GetButton.io widget -->
  
  $(function() {
  $('#WAButton').floatingWhatsApp({
    phone: '+55(11)985380253', //WhatsApp Business phone number International format-
    //Get it with Toky at https://toky.co/en/features/whatsapp.
    headerTitle: 'Chat with us on WhatsApp!', //Popup Title
    popupMessage: 'Hello, how can we help you?', //Popup Message
    showPopup: true, //Enables popup display
    buttonImage: '<img src="https://rawcdn.githack.com/rafaelbotazini/floating-whatsapp/3d18b26d5c7d430a1ab0b664f8ca6b69014aed68/whatsapp.svg" />', //Button Image
    //headerColor: 'crimson', //Custom header color
    //backgroundColor: 'crimson', //Custom background button color
    position: "right"    
  });
});
  
  
  
  
    <p>&copy; {{site.username}} &bull; {{site.description}} &reg; &bull; 2021</p>
    <!--<p> {% include fb-like.html %} </p> -->
    <p>Derivado de N.R.'s WP Theme</p>

</footer>

<script src="//cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
<script src="{{ "/assets/js/sweet-scroll.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/assets/js/main.js" | prepend: site.baseurl }}"></script>
{% include google-analytics.html %}
