<footer class="footer">
    <p>&copy; {{site.username}}, {{site.description}}. 2013-2017.</p>
    <p>Derivado de <!--<a href="https://nrandecker.github.io"> --> N.Randecker <!--</a> --></p>
    
        
            <td colspan="2" class="menu" valign="bottom" align="center" height="30"><table class="menu" border="0" cellspacing="0" cellpadding="0" width="700">
              <tbody><tr>
                <td align="center"><a href="#"><font color="#bb7a99">HOME</font></a></td>
                <td align="center" width="8">| </td>
                <td align="center"><a href="#about"><font color="#bb7a99">QUEM SOMOS</font></a></td>
                <td align="center" width="8">| </td>
                <td align="center"><a href="/clientes/clientes.asp"><font color="#bb7a99">SERVIÇOS</font></a></td>
                <td align="center" width="8">| </td>
                <td align="center"><a href="/solicite/solicite.asp"><font color="#bb7a99">E-MAIL</font></a></td>
                <td align="center" width="8">| </td>
                <td align="center"><a href="/contato/contato.asp"><font color="#bb7a99">FACEBOOK</font></a></td>
                <td align="center" width="8">| </td>
            </tr>
            </tbody></table></td>
          <tr>




</footer>
<script src="//cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
<script src="{{ "/assets/js/sweet-scroll.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/assets/js/main.js" | prepend: site.baseurl }}"></script>
{% include google-analytics.html %}
