<footer class="footer">
                <p> <tbody><tr>
                <td align="center"><a href="#"><font color="#ffffff"><b>HOME</b></font></a></td>
                &nbsp;
                <span style='font-size:18px;'>&bull;</span>
                &nbsp;  
                <td align="center"><a href="#about"><font color="#ffffff"><b>QUEM SOMOS</b></font></a></td>
                &nbsp;
                <span style='font-size:18px;'>&bull;</span>
                &nbsp;  
                <td align="center"><a href="#projects"><font color="#ffffff"><b>O QUE FAZEMOS</b></font></a></td>
                &nbsp;
                <span style='font-size:18px;'>&bull;</span>
                &nbsp;  
                <td align="center"><a href="mailto:{{site.email}}"><font color="#ffffff"><b>CONTATO</b></font></a></td>
                &nbsp; 
                <!--<td align="center"><a href="https://www.facebook.com/eQuanta.env{{site.facebook_username}}"><font color="#ffffff">FACEBOOK</font></a></td> -->
                </tr> </p>
  
  <script type="text/javascript">window.$crisp=[];window.CRISP_WEBSITE_ID="610cd497-9174-4894-a153-6a62efc1ec96";(function(){d=document;s=d.createElement("script");s.src="https://client.crisp.chat/l.js";s.async=1;d.getElementsByTagName("head")[0].appendChild(s);})();</script>
    
    <p>&copy; {{site.username}} &bull; {{site.description}} &reg; &bull; 2021</p>
    <!--<p> {% include fb-like.html %} </p> -->
    <p>Derivado de N.R.'s WP Theme</p>

</footer>

<script src="//cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
<script src="{{ "/assets/js/sweet-scroll.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/assets/js/main.js" | prepend: site.baseurl }}"></script>
{% include google-analytics.html %}
