<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  
  
  
<title> Estudos Ambientais e Licenciamento Ambiental {% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
<meta name="description" content="Empresa de consultoria ambiental {% if page.description %}{{ page.description | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  
<meta name="description" content= "Empresa de consultoria ambiental" />

<meta name="description" content= "Cetesb e supressão de vegetação" />
  
<meta name="description" content= "Cetesb e levantamento de fauna" />  
  
<meta name="description" content= "Especializada em licenciamento ambiental" />
  
<meta name="description" content= "Especializada em compensação ambiental" />
  
<meta name="description" content= "Especializada na agenda florestal" />

<meta name="description" content= "Especializada no Código Florestal" />

<meta name="description" content= "Especializada em estudos ambientais marinhos terrestres e dulcícolas" />

<meta name="description" content= "Especializada em sensoriamento remoto" />
  
<meta name="description" content= "Especializada em geoprocessamento" />  
  
<meta name="description" content= "Especializada em georreferenciamento de imóveis rurais" />
  
<meta name="description" content= "Especializada em cadastro ambiental rural - CAR" />  
  
<meta name="description" content= "Licenciamento, Recuperação e Compensação Ambiental. A biodiversidade gera valor ao empreendedor, e, para guiá-lo, elaboramos Estudos Ambientais." />
  
<meta name="description" content= "Licenciamento, Recuperação e Compensação Ambiental. A biodiversidade gera valor ao empreendedor, e, para guiá-lo, elaboramos Estudos Ambientais." />

<meta name="description" content= "Pagamento por Serviços Ambientais - PSA" />

<meta name="description" content= "Licenciamento Ambiental para Construir" />
  
<meta name="description" content= "Licenciamento ambiental para construção civil" />
  
<meta name="description" content= "Área de Mananciais - APM" />
  
<meta name="description" content= "Área de Mananciais - APM-ATC" />

<meta name="description" content= "Regularização de propriedades rurais" />
  
<meta name="description" content= "Compatibilize o seu sonho com a preservação da natureza e a legislação ambiental" />
  
<script type="application/ld+json"> {
"@context" : "http://schema.org",
"@type" : "Step 1: Choose a Business Type",
"address" : {
"@type": "PostalAddress",
"addressLocality": "Mogi das Cruzes",
"addressRegion": "SP",
"postalCode": "08773380",
"streetAddress": "Av. Fco Rodrigues Filho 2002" },
"name":"eQuanta",
"url":"https://www.equanta.com.br/",
"email":"info@equanta.com.br",
"telephone":"11985380253",
"openingHours": [
"Monday 9:00-18:00", "Tuesday 9:00-18:00", "Wednesday 9:00-18:00", "Thursday 9:00-18:00", "Friday 9:00-18:00"],
"priceRange":"3"
} </script>  
  
  
<meta name="robots" content= "index, follow">  
  
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="//cdn.rawgit.com/konpa/devicon/master/devicon.min.css">
  <link rel="stylesheet" href="{{ "/assets/css/main.css" | prepend: site.baseurl }}">
</head>
