<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
<base href="https://www.equanta.com.br/">
<meta name="description" content="Estudos Ambientais são documentos multidisciplinares com o objetivo de identificar, caracterizar, avaliar, planejar e monitorar adequadamente o meio ambiente para garantir o bem-estar da humanidade.">
<meta name="keywords" content="Licenciamento, Estudo, Compensação, Ambiental, PSA, Vegetação, Fauna, eQuanta">
<meta name="geo.region" content="BR-SP" />
<meta name="geo.placename" content="São Paulo-SP">
<meta name="geo.position" content="-24;-47" />
<meta name="ICBM" content="-24;-47" />
<meta name="rating" content="General">
<meta name="revisit-after" content="7 days">
<link rel="canonical" href="https://www.equanta.com.br">
<meta name="author" content="eQuanta">	
<link rel="shortcut icon" href="https://www.equanta.com.br">
<meta property="og:region" content="Brasil">
<meta property="og:title" content="Estudos Ambientais - eQuanta">
<meta property="og:type" content="article">
<meta property="og:url" content="https://www.equanta.com.br">
<meta property="og:description" content="Estudos Ambientais são documentos multidisciplinares com o objetivo de identificar, caracterizar, avaliar, planejar e monitorar adequadamente o meio ambiente para garantir o bem-estar da humanidade.">
<meta property="og:site_name" content="eQuanta">   
  
<title> {% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %} Estudos Ambientais e Licenciamento Ambiental </title>
<meta name="description" content="Empresa de consultoria ambiental {% if page.description %}{{ page.description | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  
<meta name="description" content= "Licenciamento, Recuperação e Compensação Ambiental. A biodiversidade gera valor ao empreendedor, e, para guiá-lo, elaboramos Estudos Ambientais." />  
  
<meta name="description" content= "Empresa de consultoria ambiental" />

<meta name="description" content= "Licenciamento Ambiental para Construir" />
  
<meta name="description" content= "Licenciamento ambiental para construção civil" />
  
<meta name="description" content= "Área de Mananciais - APM" />
  
<meta name="description" content= "Área de Mananciais - APM-ATC" />

<meta name="description" content= "Regularização de propriedades rurais" />
  
<meta name="description" content= "Compatibilize o seu sonho com a preservação da natureza e a legislação ambiental" />
    
<meta name="description" content= "Cetesb, Ibama, Código Florestal, licenciamento ambiental, supressão de vegetação, levantamento de fauna, compensação ambiental, restauração ambiental, TCRA, monitoramento ambiental, TAC, Pagamento por Serviços Ambientais" />

<meta name="description" content= "Especializada em estudos ambientais em ecossistemas terrestres e aquáticos, sensoriamento remoto, geoprocessamento, georreferenciamento de imóveis rurais, cadastro ambiental rural - CAR, pagamento por serviços ambientais - PSA" /> 

<!--            
<script type="application/ld+json"> {
"@context" : "http://schema.org",
"@type" : "Step 1: Choose a Business Type",
"address" : {
"@type": "PostalAddress",
"addressLocality": "Mogi das Cruzes",
"addressRegion": "SP",
"postalCode": "08773380",
"streetAddress": "Av. Fco Rodrigues Filho 2002" },
"name":"eQuanta",
"url":"https://www.equanta.com.br/",
"email":"info@equanta.com.br",
"telephone":"11985380253",
"openingHours": [
"Monday 9:00-18:00", "Tuesday 9:00-18:00", "Wednesday 9:00-18:00", "Thursday 9:00-18:00", "Friday 9:00-18:00"],
"priceRange":"3"
} </script> -->
  
<meta name="robots" content= "index, follow">  
  
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="//cdn.rawgit.com/konpa/devicon/master/devicon.min.css">
  <link rel="stylesheet" href="{{ "/assets/css/main.css" | prepend: site.baseurl }}">
</head>
