<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title> Licenciamento Ambiental e Pagamento por Serviços Ambientais - PSA {% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content=" Somos a melhor empresa de consultoria ambiental do Brasil. Licenciamento, Recuperação, Compensação Ambiental e Pagamento por Serviços Ambientais - PSA. A biodiversidade gera valor ao empreendedor. Elaboramos Estudos Ambientais {% if page.description %}{{ page.description | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  
<meta name="description" content= "Licenciamento, Recuperação e Compensação Ambiental. A biodiversidade gera valor ao empreendedor, e, para guiá-lo, elaboramos Estudos Ambientais." />
<meta name="robots" content= "index, follow">
  
  
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="//cdn.rawgit.com/konpa/devicon/master/devicon.min.css">
  <link rel="stylesheet" href="{{ "/assets/css/main.css" | prepend: site.baseurl }}">
</head>
