<div id="particles-js">
 <div class="site-header is-scrolling-down">
    <div class="container-wide">
        <h1 class="logo" itemscope="" itemtype="http://schema.org/Organization">
            <a href="http://www.equanta.com.br/" itemprop="url">
                <span class="sr-only" itemprop="name">eQuanta</span>
                <img src="/assets/img/eQuanta_footer.svg" alt="eQuanta logo">
            </a>
        </h1>
        <div class="site-header-panel">
            <nav class="site-navigation">
                <ul class="site-navigation-list">
                    <li class="mobile-only is-active">
						<a href="#projects">O que fazemos</a>
					</li>
					<li>
						<a href="#about">Quem Somos</a>
					</li>
					</ul>
            </nav>
        </div>

        <div class="site-header-cta">
            <a class="btn" href="#about">Que Somos<span></span></a>
        </div>
    </div>
</div>
</div>
