<div class="container">
  <div class="user-details">
    <h3> Serviços </h3>
  </div>
  <div class="row user-projects">
    <div class="six columns images">
      <img alt="" src="{{ "/assets/img/arv2.jpg" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5> Licenciamento, Recuperação e Compensação Ambiental </h5>
      <!--<li> Aplicação: estudos ambientais em processos de licenciamento; planos de manejo, programas ambientais para planos diretores.</li> -->
      <p>Avaliação ambiental preliminar e estudos de viabilidade, Laudos de Vegetação e Fauna, Planos de Recuperação de Áreas Degradadas, Orientações sobre legislação ambiental e Condução-acompanhamento de processos junto aos Órgãos Ambientais. </p>
      <p> <i> <font color= #4B5664> Entre em contato. </i> </p> <a class="project-link" href="mailto:{{site.email}}">E-MAIL</a>
    </div>
  </div>
  <div class="row user-projects">
    <div class="six columns">
      <img alt="" src="{{ "/assets/img/mapa.jpg" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5> Desenho Metodológico </h5>
      <!-- <ul>
         <li> Aplicação: planejamento de estudos ambientais. </li> 
      </ul> -->
      <p>Desenhos experimentais, amostrais e analíticos para a gestão de projetos sócioambientais; Plano metodológico e produção de termos de referência técnica (TdRT) visando ações custo-efetivas.</p>
      <p> <i> <font color= #4B5664> Conheça nas redes sociais. </i> </p>
      <a class="project-link" href="https://www.facebook.com/eQuanta.env{{site.facebook_username}}">FACEBOOK</a>
    </div>
  </div>
  <div class="row user-projects">
    <div class="six columns images">
      <img alt="" src="{{ "/assets/img/marine1.jpg" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5> Monitoramento Ambiental </h5>
      <!-- <ul>
        <li> Aplicação: intervenção ambiental com mínimo impacto viável.</li>
      </ul> -->
      <p>Monitoramento de impactos ambientais de empreendimentos de médio e grande porte com destaque para o ambiente marinho e dulcícola: desenho de metodologia, coleta, processamento e análise de dados e elaboração de relatórios. Meta-análise de dados ambientais para proposição de ajustes/adequações de escopo de projetos ambientais para processos de licenciamento.</p>
      <p> <i> <font color= #4B5664> Entre em contato com a gente. </i> </p>
      <a class="project-link" href="mailto:{{site.email}}">E-MAIL</a>
    </div>
  </div>
    <div class="row user-projects">
    <div class="six columns">
      <img alt="" src="{{ "/assets/img/arv1.jpg" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5> Uso Sustentável da Biodiversidade </h5>
      <!-- <ul>
        <li> Aplicação: tradução/aplicação técno-científica e didática e educação <i> outdoor. </i> </li>
      </ul> -->
      <p>Planos de Manejo, Desenvolvimento de Roteiros e Trilhas Interpretativas do Patrimônio Natural, Capacitação de Monitores, Implantação de Parcelas de Reflorestamento Pedagógico, Elaboração de Guias de Campo, Cartilhas, Planos Interpretativos e Sinalização em Trilhas, Mapas e Publicações Impressas.</p>
      <p> <i> <font color= #4B5664> Conheça nas redes sociais. </i> </p>
      <a class="project-link" href="https://www.facebook.com/eQuanta.env{{site.facebook_username}}">FACEBOOK</a>
    </div>
  </div>
  <!-- <div class="row user-projects">
    <div class="six columns images">
      <img alt="" src="{{ "/assets/img/arv2.jpg" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5> Desenvolvendo ... </h5>
      <ul>
        <li> Aplicação: compensações ambientais e planejamento de sítios marícolas. </li>
      </ul>
      <p>Mecanismos de compensação ambiental, processos de recuperação e recomposição florestal e aquicultura marinha apoiada no princípio de ecossistemas e redes sócioecológicas.</p>
      <a class="project-link" href="#">HOME</a>
    </div>
  </div> -->
</div>
