<div class="container">
  <div class="user-details">
    <h3> Serviços </h3>
  </div>
  <div class="row user-projects">
    <div class="six columns images">
      <img alt="" src="{{ "/assets/img/arv2.jpg" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5> Licenciamento, Recuperação e Compensação Ambiental </h5>
      <!--<li> Aplicação: estudos ambientais em processos de licenciamento; planos de manejo, programas ambientais para planos diretores.</li> -->
      <p>A sustentabilidade requer a observância de procedimentos legais de licenciamento e gestão ambiental, para qualquer empreendimento que gere impactos, desde a instalação de um quiosque no quintal até a implantação de uma indústria. Entendemos que pode ser lucrativo para o empreendedor investir na manutenção da biodiversidade. Para assessorá-los, elaboramos Laudos e Estudos Prévios de Viabilidade, Relatórios de Vegetação e Fauna, Planos de Recuperação de Áreas Degradadas e Planos de Manejo. Oferecemos orientações sobre a legislação ambiental envolvendo a biodiversidade e facilitamos o acompanhamento de processos junto aos Órgãos Ambientais. </p>
      <p> <i> <font color= #4B5664> Entre em contato. </i> </p>
      <a class="project-link" href="mailto:{{site.email}}">E-MAIL</a> 
    </div>
  </div>
  <div class="row user-projects">
    <div class="six columns">
      <img alt="" src="{{ "/assets/img/mapa.jpg" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5> Desenho Metodológico </h5>
      <!-- <ul>
         <li> Aplicação: planejamento de estudos ambientais. </li> 
      </ul> -->
      <p>Desenhos experimentais, amostrais e analíticos para a gestão de projetos socioambientais; Planejamento e análises de dados ambientais para ajustes/adequações de escopo de projetos socioambientais e de processos de monitoramento ambiental. Planos Metodológicos e elaboração de Termos de Referência Técnica (TdRT). </p>
      <p> <i> <font color= #4B5664> Conheça através das redes sociais. </i> </p>
      <a class="project-link" href="https://www.facebook.com/eQuanta.env{{site.facebook_username}}">FACEBOOK</a>
    </div>
  </div>
  <div class="row user-projects">
    <div class="six columns images">
      <img alt="" src="{{ "/assets/img/marine1.jpg" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5> Monitoramento Ambiental para a Biodiversidade </h5>
      <!-- <ul>
        <li> Aplicação: intervenção ambiental com mínimo impacto viável.</li>
      </ul> -->
      <p>Diagnósticos e Avaliação de Potenciais da Biodiversidade em Propriedades Urbanas e Rurais, Monitoramento de Impactos Ecológicos de pequenos empreendimentos, ou de médio e grande portes. Destaque para operações em ambientes marinhos e dulcícolas: desenho de metodologia, coleta e análise de dados ecológicos e elaboração de relatórios com análise crítica. </p>
      <p> <i> <font color= #4B5664> Entre em contato. </i> </p>
      <a class="project-link" href="mailto:{{site.email}}">E-MAIL</a>
    </div>
  </div>
    <div class="row user-projects">
    <div class="six columns">
      <img alt="" src="{{ "/assets/img/arv1.jpg" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5> Uso Público de Áreas Naturais </h5>
      <!-- <ul>
        <li> Aplicação: tradução/aplicação técno-científica e didática e educação <i> outdoor. </i> </li>
      </ul> -->
      <p>Projetos para Parques Urbanos, RPPNs e outras Áreas Protegidas: Planos de Manejo, Roteiros e Trilhas Interpretativas do Patrimônio Natural, Capacitação de Monitores, Implantação de Parcelas Eco-Pedagógicas, Cartilhas, Produção de Planos Interpretativos, Mapas e Guias impressos e digitais.</p>
      <p> <i> <font color= #4B5664> Conheça através das redes sociais. </i> </p>
      <a class="project-link" href="https://www.facebook.com/eQuanta.env{{site.facebook_username}}">FACEBOOK</a>
    </div>
  </div>
  <!-- <div class="row user-projects">
    <div class="six columns images">
      <img alt="" src="{{ "/assets/img/arv2.jpg" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5> Desenvolvendo ... </h5>
      <ul>
        <li> Aplicação: compensações ambientais e planejamento de sítios marícolas. </li>
      </ul>
      <p>Mecanismos de compensação ambiental, processos de recuperação e recomposição florestal e aquicultura marinha apoiada no princípio de ecossistemas e redes sócioecológicas.</p>
      <a class="project-link" href="#">HOME</a>
    </div>
  </div> -->
</div>
