<div class="container">
  <div class="user-details">
    <h3> Serviços </h3>
  </div>
  <div class="row user-projects">
    <div class="six columns images">
      <img alt="mountains" src="{{ "/assets/img/mountains.jpg" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5> Estudos socioecológicos </h5>
      <li> Aplicação: estudos ambientais em processos de licenciamento ambiental; planos de manejo, programas ambientais de planos diretores municipais.</li>
      <p>Planejamento, geração e catálise do fluxo informativo em processos decisórios, executivos, e de entendimento entre atores envolvidos em redes sócioecológicas; Estudos técnicos e cartografia temática em ecossistemas terrestres e aquáticos. </p>
      <!-- <a class="project-link" href="#">Check it out</a> -->
    </div>
  </div>
  <div class="row user-projects">
    <div class="six columns">
      <img alt="mountains" src="{{ "/assets/img/skate.jpg" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5> Desenho metodológico </h5>
      <ul>
        <li> Aplicação: planejamento de estudos ambientais com o objetivo de redução de custos e maximização dos resultados desejados. </li>
      </ul>
      <p>Desenhos experimentais, amostrais e analíticos para a gestão de projetos sócioambientais; Plano metodológico e produção de termos de referência técnica (TdRT) visando ações custo-efetivas.</p>
      <!-- <a class="project-link" href="#">Check it out</a> -->
    </div>
  </div>
  <div class="row user-projects">
    <div class="six columns images">
      <img alt="mountains" src="{{ "/assets/img/mountains.jpg" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5> Estudos de viabilidade </h5>
      <ul>
        <li> Aplicação: avaliação das possibilidades de intervenção ambiental, com direcionamento ao mínimo impacto viável.</li>
      </ul>
      <p>Avaliações preliminares de viabilidade ambiental de empreendimentos; Proposição de <i> rounds </i> de decisão diante dos principais fatores condicionantes.</p>
      <a class="project-link" href="#">Check it out</a>
    </div>
  </div>
    <div class="row user-projects">
    <div class="six columns">
      <img alt="mountains" src="{{ "/assets/img/skate.jpg" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5> Educação Ambiental </h5>
      <ul>
        <li> Aplicação: tradução do conhecimento técno-científico e educação <i> outdoor </i> </li>
      </ul>
      <p>Formação e suporte técnico-pedagógico na elaboração de guias de referência e roteiros metodológicos para atividades educativas. Planejamento de trilhas interpretativas do patrimônio natural.</p>
      <a class="project-link" href="#">Check it out</a>
    </div>
  </div>
  <div class="row user-projects">
    <div class="six columns images">
      <img alt="mountains" src="{{ "/assets/img/mountains.jpg" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5> Desenvolvendo ... </h5>
      <ul>
        <li> Aplicação: compensação passivos ambientais e planejamento de sítios marícolas </li>
      </ul>
      <p>Mecanismos de compensação ambiental, processos de recuperação e recomposição florestal e aquicultura marinha apoiada no princípio de ecossistemas e redes sócioecológicas.</p>
      <a class="project-link" href="#">Check it out</a>
    </div>
  </div>
</div>
